############################
# Python
############################
__pycache__/
*.py[cod]
*$py.class

############################
# IDE
############################
.idea/
.vscode/

############################
# Environments
############################
.env
.venv
env/
venv/
ENV/

############################
# Data
############################
Data/
Old/

############################
# Build / packaging
############################
build/
dist/
*.egg-info/

############################
# Logs / cache
############################
*.log
.cache/
.pytest_cache/
.mypy_cache/

############################
# Jupyter
############################
.ipynb_checkpoints